@{
    Layout = null;
}
<html>
<head>
    <title>
        SolarSignal
    </title>
    <style>
        html, body {
            height: 100%;
            margin: 0 !important;
            padding: 0 !important;
            width: 100%;
        }

        #container {
            height: 100%;
            position: relative;
            width: 100%;
        }

        #container canvas, #overlay { position: absolute; }

        canvas { border: 1px solid black; }
    </style>
</head>
<body>
<div id="container">
    <canvas id="imgCanvas" width="1000" height="750" style="border: 1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <div id="overlay">
        <label for="shipColor">Ship Color:</label>
        <input type="text" class="color" id="shipColorPicker"/>
        <input type="button" id="playButton" value="Play"/>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/tinyColorPicker/colors.js"></script>
<script src="~/lib/tinyColorPicker/jqColorPicker.js"></script>
<script src="~/lib/seedrandom/seedrandom.js"></script>
<script type="text/javascript">
    $('.color').colorPicker();
</script>
<script src="~/js/solar.js"></script>
</body>
</html>